.header {
    color:green;
    font-size: 55px;
}

.s-header {
    font-size: 60;
    font-weight: bold;
    color: darkgoldenrod;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-weight: bold;
}

.except {
    color: blue;
}

img {
    height: 500px;
    width: 450px;
}