html {
    background-image: url(../images/menu-bg.jpg);
    background-size: cover; 
}

div.gallery {
    width: 500;
    height: 600;
    float: left;
    border: 50px, snow;
    margin: 70px;
    text-align: center;
}
.description {
    font-family: sans-serif;
    color: aqua;
    font-size: 50px;
}

#header {
    text-align: center;
    color: aqua;
    font-size: 85px;
    font-weight: bold;
    font-family: Impact;
}

